@use "../abstracts/index" as *;

#backToTopBtn {
  width: 60px;
  height: 60px;
  background-color: $primaryColor2;
  text-align: center;
  position: fixed;
  bottom: 20vh;
  right: 0px;
  display: none;
  cursor: pointer;
  z-index: 10;

  img {
    width: 100%;
    &:hover {
      content: url("./images/back_to_top2.png");
    }
  }
}
