@use "../abstracts/index" as *;

#intro{

margin-top: $margin-y ;
margin-bottom:$margin-y;
// background-color: rgb(223, 202, 202);  


 h1 {
    @include title;
  }



img{
  overflow: hidden;
  // max-width:40vw;
  padding:1rem;
  height:auto;
}


.cardTitle{
  font-family: $titleFont;
  font-size: $titleFontSize;
  margin-left:19% ;
}

p{
  font-family:$primaryFont;
  font-size: $secondaryFontSize;
  text-align: justify;
  padding:1rem;
}
}

.flex-way{flex-direction: row }

@media (max-width: 768px) {
  .flex-way {
    flex-direction: column;
  }
  .flex-way img {
    width: 100%;
  }
}