@use "../abstracts/index" as *;

#intro {
  margin-top: $margin-y;
  margin-bottom: $margin-y;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgb(223, 202, 202);

  h1 {
    @include title;
  }

  img {
    overflow: hidden;
    padding: 1rem;
  }

  p {
    font-family: $primaryFont;
    font-size: $primaryFontSize + 0.3rem;
    text-align: justify;
    display: inline-block;

    //// for text typing effect
    #typing {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      border-right: 0.3em solid #000000;
      vertical-align: bottom;
      animation: typing 5s steps(16) infinite;
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 7em;
        }
      }
    }
  }
}
