@use "../abstracts/" as *;

#qualification {
  margin-bottom: $margin-y;

  h1 {
    @include title;
  }

  // change default collapse arrow color to white
  .my-accordion {
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23ffffff%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e);
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill=%27white%27 fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e);
  }

  /* target the Accordion.Item */
  div {
    // background-color:red;

    /* target the Accordion header */
    button {
      background-color: $primaryColor;
      color: white;
    }
    .accordion-body {
      background-color: $greyShade_bg;
    }
  }
}

// for future reference ONLY, do not delete
.accordion-item {
  // background: $primaryColor;

  // --bs-accordion-color: var(--bs-body-color);
  //
  // --bs-accordion-bg: var(--bs-body-bg);
  // --bs-accordion-transition: color 0.15s ease-in-out,
  //   background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
  //   box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  // --bs-accordion-border-color: var(--bs-border-color);
  // --bs-accordion-border-width: var(--bs-border-width);
  // --bs-accordion-border-radius: var(--bs-border-radius);
  // --bs-accordion-inner-border-radius: calc(
  //   var(--bs-border-radius) - (var(--bs-border-width))
  // );
  // --bs-accordion-btn-padding-x: 1.25rem;
  // --bs-accordion-btn-padding-y: 1rem;
  // --bs-accordion-btn-color: var(--bs-body-color);
  // --bs-accordion-btn-bg: var(--bs-accordion-bg);
  // --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e);
  // --bs-accordion-btn-icon-width: 1.5rem;
  // --bs-accordion-btn-icon-transform: rotate(-180deg);
  // --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  // // amended SVG address for a white color version.
  // --bs-accordion-btn-active-icon: url(
  //   data:image/svg + xml,
  //   %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"%3e%3cpathfill="%23ffffff"fill-rule="evenodd"d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/%3e%3c/svg%3e
  // );
  // // amended variable
  // --bs-accordion-btn-focus-border-color: transparent;
  // // amended variable
  // --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem (0, 0, 0, 0.5);
  // --bs-accordion-body-padding-x: 1.25rem;
  // --bs-accordion-body-padding-y: 1rem;
  // // amended variable
  // --bs-accordion-active-color: white;
  // --bs-accordion-active-bg: $brandColor;
}
