@use "../abstracts/" as *;

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: $primaryFont;
  box-sizing: border-box;
  
  //reset links
  a {
    color: black;
    text-decoration: none;
    @include primaryTextLight;

    &:hover {
      color: $purpleInDark;
    }
  }
}



