@use "../abstracts/" as *;

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: $primaryFont;
  box-sizing: border-box;
  //reset links
  a {
    color: black;
    text-decoration: none;
    @include primaryTextLight;

    &:hover {
      color: $purpleInDark;
    }
  }
}

//reset scroll bar
::-webkit-scrollbar {
  width: 22px;
}

::-webkit-scrollbar-thumb {
  background-color: #223e4c;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}
