@use "../abstracts/index" as *;

#contact {
  font-family: inherit;
  // font-weight: bolder;
  font-size: $primaryFontSize;
  // background-color: red;

  button span {
    display: flex;
    align-items: baseline;
     gap:0.5rem
  }

  p {
    font-family: $primaryFont;
    font-size: $primaryFontSize;
    vertical-align: middle;
  }
  .contact-pic {
    width: 25vw;
     @include noCopy
  }
  .contact-icon img {
    width: 1.5rem;
  }

  .d-flex a {
    @include animatedButton;
    display: inline-block;
    margin-top: 5rem;
  }
}
