$whiteColor: #ffffff;
$primaryColor: #254a5d;
$primaryColor2: #3795bd;
$shadowColor: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
$darkTheme_bg_color: #202124;
$darkTheme_bg_color2: #383838;
$purpleInDark: #a7a1ff;
$greyShade_bg: rgb(230, 230, 230);
$hexagonColorLight: $whiteColor;
$hexagonColorDark: $darkTheme_bg_color;
$default_light: $purpleInDark;
$default_dark: $darkTheme_bg_color;

$primaryFont: "Roboto";
$primaryFontSize: 1.1rem;
$secondaryFontSize: 1.9rem;
$primaryFontPlus: calc(#{$secondaryFontSize} + 0.1rem);
$titleFont: "Plus Jakarta Sans";
$titleFontWeight: 800;
$titleFontSize: 3.5rem;
$fullWidth: 100vw;
$fullHeight: 100vh;
$margin-y: 30vh;
$margin-y-title-content: 6vh;

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin reset-Container {
  padding: 0;
  margin: 0;
  width: $fullWidth;
  overflow: hidden;
  > * {
    margin: 0;
    padding: 0;
  }
}

@mixin title() {
  font-family: $titleFont;
  font-size: $titleFontSize;
  font-weight: $titleFontWeight;
  text-align: center;
  margin-bottom: $margin-y-title-content;
}

@mixin darkTheme() {
  color: white;
  background-color: $darkTheme_bg_color2;
}

@mixin primaryTextLight() {
  color: white;
  font-family: $primaryFont;
  font-size: $primaryFontSize;
  text-align: center;
}

@mixin hexagonStyle() {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  transition: opacity ease-in 3s;
}

@mixin animatedButton() {
  button {
    position: relative;
    height: 3rem;
    padding: 0 1rem;
    border: 2px solid #5a7785;
    background: #f8f8f8;
    user-select: none;
    white-space: nowrap;
    transition: all 0.05s linear;
    font-family: inherit;
  }

  button:before,
  button:after {
    content: "";
    position: absolute;
    background: #f8f8f8;
    transition: all 0.2s linear;
  }

  button:before {
    width: calc(100% + 6px);
    height: calc(100% - 16px);
    top: 8px;
    left: -3px;
  }

  button:after {
    width: calc(100% - 16px);
    height: calc(100% + 6px);
    top: -3px;
    left: 8px;
  }

  button:active {
    transform: scale(0.95);
  }

  button:hover:before {
    height: calc(100% - 32px);
    top: 16px;
  }

  button:hover:after {
    width: calc(100% - 32px);
    left: 16px;
  }

  button span {
    font-size: $primaryFont;
    z-index: 3;
    position: relative;
  }
}
