@use "../abstracts/index" as *;

#dark,
#light {
  max-width: 100vw;
  height: auto;
  overflow: hidden;

.thumb-vertical{
  background-color: rgba(112, 112, 112, 0.526);
  width: 15px!important;
  z-index: 0;
}
}

/////////// #light//////////////

#light {
  background-color: $whiteColor;

  .text-color {
    color: black;
  }

  ._404text {
    color: black;
  }
}

/////////// #dark//////////////
#dark {
  background-color: $darkTheme_bg_color;
  .text-color {
    color: white;
  }

  // 404page text color
  ._404text {
    color: white;
  }

  h1 {
    color: white;
  }

  #contact {
    .darkTheme {
      @include darkTheme;
    }
  }

  #intro {
    .darkTheme {
      @include darkTheme;
    }
  }

  #qualification {
    .darkTheme {
      @include darkTheme;
    }
  }

  #projects {
    .card {
      @include darkTheme;
      a button,
      button:before,
      button:after {
        background-color: $darkTheme_bg_color2;
        color: #ffffff;
      }
    }
  }

  #contact {
    .d-flex {
      a button,
      button:before,
      button:after {
        background-color: $darkTheme_bg_color;
        color: #ffffff;
      }
    }
  }
}

#backToTopBtn {
  background-color: $darkTheme_bg_color;
  z-index: 99;
}
