@use "../abstracts/index" as *;

#dark,
#light {
  max-width: 100vw;
  height: auto;
  overflow: hidden;
}

/////////// #light//////////////

#light {
  background-color: $whiteColor;
   
.text-color{
  color:black
}

  ._404text {
    color: black;
  }
}

/////////// #dark//////////////
#dark {
  background-color: $darkTheme_bg_color;
.text-color{
  color:white;
}


  // 404page text color
  ._404text {
    color:  white;
  }

  h1 {
    color: white;
  }


  #contact{
    .darkTheme {
     
      @include darkTheme;
    }
  }

  #intro {
    .darkTheme {
      @include darkTheme;
      
    }
      #typing {

    border-right: 0.3em solid #ffffff;
  }
}

  #qualification {
    .darkTheme {
      @include darkTheme;
    }
  }

#projects{
  .card {
      @include darkTheme;

  }
}
#backToTopBtn {
 
  background-color:$darkTheme_bg_color;}

}




